@font-face {
    font-family: NeueHaasDisplayThin;
    src: url(../Fonts/NeueHaasDisplayThin.ttf);
}

@font-face {
    font-family: NeueHaasDisplayLight;
    src: url(../Fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: NeueHaasDisplayRoman;
    src: url(../Fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: NeueHaasDisplayMedium;
    src: url(../Fonts/NeueHaasDisplayMedium.ttf);
}

body {
    padding: 0;
    margin: 0;
}

/* Custom CSS for transparent navbar */
.navbar-custom {
    background-color: transparent !important; /* Make the background transparent */
    position: absolute; /* Position the navbar absolutely */
    padding: 12%; /* Move the navbar 12% down */
    width: 100%; /* Ensure the navbar spans the full width */
    color: white !important;
    font-size: 18px;
    font-family: NeueHaasDisplayRoman;
    letter-spacing: 3px;
    text-align: center;
}

.navbar-nav .nav-link, .navbar-brand {
    color: white !important;
}

.navbar-light .navbar-toggler-icon {
    background-color: transparent;
    border: 2px solid white;
}

.navbar-nav .nav-item {
    position: relative; /* Make the nav items relative for positioning pseudo-elements */
}

.navbar-nav .nav-item.active::after,
.navbar-nav .nav-item:hover::after {
    width: 100%; /* Set width to 100% on hover or for the currently active item */
}

.navbar-nav .nav-item::after {
    content: ''; /* Create pseudo-element */
    position: absolute; /* Position the pseudo-element */
    bottom: 0; /* Align the pseudo-element to the bottom */
    right: 0; /* Start the pseudo-element from the right */
    width: 0; /* Initial width of the pseudo-element */
    height: 1px; /* Height of the pseudo-element (border) */
    background-color: white; /* Color of the border */
    transition: width 0.3s; /* Add transition for smooth effect */
}

.navbar-nav .nav-item:not(.active):hover::after {
    width: 100%; /* Increase width to 100% on hover */
    right: auto; /* Reset right positioning */
    left: 0; /* Start the pseudo-element from the left */
}

.navbar-nav .nav-item:not(.active):not(:hover)::after {
    width: 0; /* Reset width to 0 when not hovered */
    right: 0; /* Start the pseudo-element from the right */
    left: auto; /* Reset left positioning */
}

.navbar-nav .nav-item {
    margin-right: 2%; /* Add padding between elements */
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* Remove padding from the last element */
}

nav img {
    max-height: 20px;
    height: 20px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the image vertically */
    border-color: transparent;
}

hr {
    border: 1px solid rgb(49, 48, 49);
    float: left;
    width: 100%;
}

p {
    font-family: NeueHaasDisplayLight;
    line-height: 150%;
    word-spacing: 20%;
    font-size: 25px;
}

h1 {
    color: rgb(49, 48, 49);
    font-size: 18px;
    font-family: NeueHaasDisplayRoman;
    letter-spacing: 3px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 48px;
    font-family: NeueHaasDisplayMedium;
    text-align: left;
}

h3 {
    color: rgb(49, 48, 49);
    font-size: 40px;
    font-family: NeueHaasDisplayMedium;
    text-align: left;
}

footer {
    background-color: rgb(49, 48, 49);
    border-radius: 25px 25px 0 0;
    margin: 5% 1% 0;
    padding: 2.5% 5% 1%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    font-size: 40px;
    margin-top: 0;
}

footer p {
    font-size: 20px;
    margin: 0; /* Reset margin */
}

footer a {
    color: white;
}

.background {
    /* Background image */
    background-repeat: no-repeat;
    background-position: center;

    /* Other background properties */
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
}

.gradient {
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,1));
}

.quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -95%, -20%);
    width: 33%;
    color: white;
}

.col-lg-6, .col-lg-12 {
    display: flex;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute; /* Position relative to the container */
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s; /* Add transition effect for opacity */
    opacity: 1; /* Initial opacity */
    animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
  }
  
  .scroll::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
  }  
  
  
@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}