@media (max-width: 991.98px) {
    .order-lg-1 {
        order: 2;
    }

    .order-lg-2 {
        order: 1;
    }
}

.visit-quote {
    color: white;
    padding: 5%;
}

.visit-quote hr {
    border: 1px solid white;
}

.container-fluid .row .card {
    border: solid rgb(49, 48, 49) 0;
    border-radius: 0;
}

.container-fluid .row > div {
    margin: 0;
    padding: 0;
}

.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

#location {
    background-color: rgb(252, 191, 154);
}

#outdoor {
    background-color: rgb(193, 196, 90);
}

#landmarks {
    background-color: rgb(197, 160, 117);
}

#community {
    background-color: rgb(223, 217, 207);
}

#map {
    background-color: rgb(238, 240, 214)
}

#visit {
    background-repeat: no-repeat;
    background-size: cover;
}
