/* FONTS */
@font-face {
    font-family: NeueHaasDisplayThin;
    src: url(../fonts/NeueHaasDisplayThin.ttf);
}

@font-face {
    font-family: NeueHaasDisplayLight;
    src: url(../fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: NeueHaasDisplayRoman;
    src: url(../fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: NeueHaasDisplayMedium;
    src: url(../fonts/NeueHaasDisplayMedium.ttf);
}

/* TAG CSS */
body {
    padding: 0;
    margin: 0;
}

hr {
    border: 1px solid rgb(49, 48, 49);
    float: left;
    width: 100%;
}

p {
    font-family: NeueHaasDisplayLight;
    line-height: 150%;
    word-spacing: 5px;
    font-size: 25px;
}

h1 {
    color: rgb(49, 48, 49);
    font-size: 18px;
    font-family: NeueHaasDisplayRoman;
    letter-spacing: 3px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 48px;
    font-family: NeueHaasDisplayMedium;
    text-align: left;
}

h3 {
    color: rgb(49, 48, 49);
    font-size: 40px;
    font-family: NeueHaasDisplayMedium;
    text-align: left;
}


/* CLASS CSS */
@media only screen and (max-width: 991.98px) {
    li#insta {
        display: none;
    }
}
/* Custom CSS for transparent navbar */
.navbar-custom {
    background-color: transparent !important;
    position: absolute;
    padding: 10vh 10vh 0;
    width: 100%;
    color: white !important;
    font-size: 18px;
    font-family: NeueHaasDisplayRoman;
    letter-spacing: 3px;
    text-align: center;
}

/* Set logo size */
.navbar-logo {
    height: 50px;
    width: auto;
}

.navbar-nav .nav-item {
    position: relative;
    margin-right: 2%;
}

/* Custom CSS for Nav - only applies to non-mobile views */
@media only screen and (min-width: 991.98px) {
    .navbar-nav .nav-link, .navbar-brand {
        color: white !important;
    }

    .navbar-nav .nav-item.active::after,
    .navbar-nav .nav-item:hover::after {
        width: 100%;
    }

    .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    /* Create psuedo element to underline current page */
    .navbar-nav .nav-item::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 1px;
        background-color: white;
        transition: width 0.3s;
    }

    .navbar-nav .nav-item:not(.active):hover::after {
        width: 100%;
        right: auto;
        left: 0;
    }

    .navbar-nav .nav-item:not(.active):not(:hover)::after {
        width: 0;
        right: 0;
        left: auto;
    }
}

.background {
    /* Background image */
    background-repeat: no-repeat;
    background-position: center;

    /* Other background properties */
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
}


.quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -95%, -20%);
    width: 33%;
    color: white;
}


.container-fluid .row .card {
    flex-grow: 1;
    height: auto;
    border: solid rgb(49, 48, 49) 2px;
    border-radius: 25px;
}

/* Add top padding for all columns */
.container-fluid .row > div {
    padding-top: 1%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Scrollwheel CSS  */
.scroll {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: 1;
    animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
}
  
.scroll::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
}  


.footer {
    background-color: rgb(49, 48, 49);
    border-radius: 25px 25px 0 0;
    margin: 1% 1% 0;
    padding: 2% 0 1%;
    color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-size: 18px;
    word-spacing: normal;
    margin: 0;
}

.footer a {
    color: lightgrey;
}

.footer li > a {
    text-decoration: none;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}
  

/* Scrollwheel animation */
@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

/* Defined for older browsers */
@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}