@media only screen and (min-width: 992px) {
    .container-fluid .row > :last-child {
        padding-left: 0;
    }
}

#boat {
    background-color: rgb(75, 160, 174);
}

#law {
    background-color: rgb(223, 95, 84);
}

#beach {
    background-color: rgb(198, 176, 121);
}

#golf {
    background-color: rgb(142, 162, 144);
}

#john {
    background-color: rgb(234, 222, 202);
}

#castle {
    background-color: rgb(252, 191, 154);
}