.col-lg-5:last-child, .col-lg-7:last-child {
    padding-left: 0;
}

.col-lg-5, .col-lg-7 {
    padding-top: 1%;
}

.col-lg-5 .card, .col-lg-7 .card {
    flex-grow: 1;
    height: auto;
    border: solid rgb(49, 48, 49) 2px;
    border-radius: 25px;
}

#boat {
    background-color: rgb(75, 160, 174);
}

#law {
    background-color: rgb(223, 95, 84);
}

#beach {
    background-color: rgb(198, 176, 121);
}

#golf {
    background-color: rgb(142, 162, 144);
}

#john {
    background-color: rgb(234, 222, 202);
}

#castle {
    background-color: rgb(252, 191, 154);
}